body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -3;
}

.moving_part {
  width: 100%;
  display: flex;
}

.left_side,
.right_side {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 33%;
  font-size: 80px;
}

.center {
  position: static;
}

#andrea,
#greeting,
#weather,
#quote,
#quote2,
.left_time,
.right_date {
  text-align: center;
}

#weather span {
  font-size: 30px;
}

.my_board {
  width: 100%;
  display: flex;
}

.borad_center {
  margin-top: 30px;
  width: 600px;
}

#todo-form {
  display: flex;
  text-align: left;
}

.my_board__left,
.my_board__right {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 33%;
  font-size: 80px;
}

#picture {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 600px;
}

.hidden {
  display: none;
}
