<<<<<<< HEAD
body {
  position: relative;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  position: absolute;
  top: 40px;
  height: 25%;
  z-index: -4;
}

#clock {
  font-size: 50px;
}

=======
>>>>>>> parent of 12575d9 (edit css)
.hidden {
  display: none;
}
